<div class="row">
	<div class="span8 offset2">
		<div class="page-header">
		  <h1>Geneatree <small>Easily create family trees</small></h1>
		</div>
		<p>Geneatree is a lightweight application that allows the creation of family trees. It creates the trees using a Javascript library for directed graphs, Dagre. Right now there are some limitations on who can be added to the tree, so as to avoid overlapping lines.</p>
		<strong>Who can be added to the tree?</strong>
		<ul>
			<li>The starting individual</li>
			<li>Direct ancestors of the starting individual (parents, grandparents, great-grandparents, etc.) and their children</li>
			<li>Direct descendents of the starting individual (children, grandchildren, etc.) and their parents</li>
		</ul>
	</div>
</div>